.root {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn {
    margin-bottom: 12px;
}

.inputFile {
    outline:0;
    opacity:0;
    pointer-events:none;
    user-select:none;
    width: 0;
}

.alert {
    margin-bottom: 12px;
}