.cellIcon {
    padding-left: 0;
}

.cellIconContent {
    display: flex;
    align-items: center;
}

.cellIconContent svg {
    margin-right: 4px;
}

.miniTableCell {
    border-bottom: none;
}

.collapsibleCell {
    border: none;
    padding-top: 0;
    padding-bottom: 0;
    background: linear-gradient(0, #fff 0%, #fdfdfd 100%);
}
